body {
  font-family: sans-serif;
  font-size: 10pt;
}

#title {
  font-size: 10pt;
  font-weight: bold;
  margin: 0.4em;
  color: rgb(240, 240, 240);
}

#top-panel {
  background-color: rgb(50, 50, 50);
  padding: 0.2em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid rgb(15, 15, 15);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#tab-panel {
  position: fixed;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#tab-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  z-index: 999;
}

#tab-content {
  position: relative;
  padding: 2em;
  font-family: monospace;
  overflow: auto;
}

#dummy {
  display: none;
  font-family: monospace;
}

.paragraph {
  display: inline-block;
}
